.mine {
  width: 30%;
  height: auto;
  float: left;
}
body {
  background-color: #cccccc;
  background-image: url();
  color: ;
}
h2 {
  color: #586a6e;
}
.header {
  color: red;
}
.name {
  color: brown;
}
.row {
  background-image: ;
}
.jumbotron {
  font-size: x-large;
}
.box {
  background-image: url(../images/landscape.webp);
  border: solid brown;
  font-style: italic;
  color: rgb(8, 250, 230);
}
.date {
  color: rgb(25, 160, 25);
}
.odd {
  font-size: larger;
}
